Node-RED_Flows/Lab3_Flow.json
[
    {
        "id": "6cdf9879.8a3728",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b02fc9cb.9cf058",
        "type": "inject",
        "z": "6cdf9879.8a3728",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "ff476447.6f6fd8",
                "a34d2460.7147b8",
                "6ec1fe45.b0fa8"
            ]
        ]
    },
    {
        "id": "ff476447.6f6fd8",
        "type": "file in",
        "z": "6cdf9879.8a3728",
        "name": "Pi Voltage",
        "filename": "/home/pi/mxet300_lab/a.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "8b280a1e.a6d008"
            ]
        ]
    },
    {
        "id": "8b280a1e.a6d008",
        "type": "ui_gauge",
        "z": "6cdf9879.8a3728",
        "name": "Voltage",
        "group": "bed244d8.06cc38",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "12",
        "colors": [
            "#b30000",
            "#e6e600",
            "#1eff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "a34d2460.7147b8",
        "type": "file in",
        "z": "6cdf9879.8a3728",
        "name": "Cardinal",
        "filename": "/home/pi/mxet300_labcompass_direction.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "47f500fa.56bba"
            ]
        ]
    },
    {
        "id": "47f500fa.56bba",
        "type": "ui_text",
        "z": "6cdf9879.8a3728",
        "group": "81f0d90e.fd7e28",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cardinal Direction: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "6ec1fe45.b0fa8",
        "type": "file in",
        "z": "6cdf9879.8a3728",
        "name": "Coordinates",
        "filename": "/home/pi/mxet300_lab/b.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "e3401b1d.f8f7f8"
            ]
        ]
    },
    {
        "id": "e3401b1d.f8f7f8",
        "type": "ui_gauge",
        "z": "6cdf9879.8a3728",
        "name": "Compass",
        "group": "81f0d90e.fd7e28",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Compass",
        "label": "Degrees",
        "format": "{{value}}",
        "min": "-180",
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "bed244d8.06cc38",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "da434eb9.c05d5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "81f0d90e.fd7e28",
        "type": "ui_group",
        "name": "Cardinal Coordinates",
        "tab": "da434eb9.c05d5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "da434eb9.c05d5",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 1
    }
]